
.modal-container{
    display:flex;
    flex-direction: column;
    width:250%;
    color:#fff;
    background-color: rgb(39, 39, 39);
    padding:0.3rem 0.5rem
}

.modal-btn{
    margin:0.3rem 0;
    cursor:pointer;
}
.modal-btn > a{
    text-decoration: none;
    color:#fff;
}
#link{
    text-decoration: none;
    color:#fff;
    margin:0.3rem 0;
    
}
#linkvideos{
    text-decoration: none;
    color:#fff;
    margin:0.3rem 0;
}